<html>
  <head>
    <meta charset='utf-8' />
    <title>Movie Search API</title>
    <style>
        .page-links {
            text-decoration: none;
            cursor: pointer;
            color: white;
            background-color: teal;
            border: 2px solid rgb(204, 204, 116);
            display: inline-block;
            min-width: 300px;
            padding: 30px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    </style>
  </head>
  <body>
    <a class='page-links' href='/api/docs'>Swagger Documentation</a>
    <a class='page-links' href='/register'>Register</a>
    <a class='page-links' href='/login'>Login</a>
  </body>
  <script>
    console.log('{{message}}')
  </script>
</html>